
<div class="flex-container">
  <div>
    <p><b>IRYNA DZYNDRA</b></p>
  </div>
<div class="irydiy">
  <p>IRYDIY</p>
  </div>
  <div>
    <p><b>ART GALLERY</b></p>
  </div>
</div>
<div class="container-navbar">
  <ul class="container">
    <li><a routerLinkActive="active" routerLink="home">{{pageData.allData?.hom}}</a></li>
    <li class="dropdown">
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{pageData.allData?.gallery}}
        <div class="dropdown-content">
          <a routerLinkActive="active" routerLink="gallery/terravita">{{pageData.allData?.terravita}}</a>
          <a routerLinkActive="active" routerLink="gallery/horizon">{{pageData.allData?.horizon}}</a>
          <a routerLinkActive="active" routerLink="gallery/seine">{{pageData.allData?.seine}}</a>
        </div>
      </a>
    </li>
    <li><a routerLinkActive="active" routerLink="about">{{pageData.allData?.cv}}</a></li>
    <li><a routerLinkActive="active" routerLink="contact">{{pageData.allData?.contact}}</a></li>
  </ul>
</div>

