.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -28px;
}

.flex-container > div {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
}

.irydiy {
  margin-right: 45px;
  margin-left: 45px;
}

.irydiy > p {
  font-size: 45px;
}

.container {
  display: flex;
}

.container-navbar {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 600px) {

  .flex-container {
    flex-direction: column;
    margin: 0;
  }

  .irydiy > p {
    margin: 0;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .container > li {
    flex-basis: 50%;
    justify-content: center;
    text-align: center;
  }
}

@media all and (max-width: 400px) {
  .container > li {
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: inline-block;
  color: #666;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 3px;
  border-bottom: 2px solid transparent;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: #666;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  cursor: pointer;
  outline: none 0;
}

li a:hover:not(.active), .dropdown:hover .dropbtn {
  border-bottom: 2px solid #e7e7e7;
}

li a.active {
  border-bottom: 2px solid #000000;
  color: #000000;
}

.main {
  display: block;
  color: #000000;
  text-align: center;
  padding: 12px 50px;
  font-size: larger;
  font-style: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.showDropdown {
  display: block;
  cursor: pointer;
}

.name {
  text-align: center;
  font-size: large;
  letter-spacing: 6px;
}


