<div class="flex-container">
  <div class="flex-box">
    <img src="../../assets/iryna.jpg" alt="Iryna Dzyndra">
  </div>
  <div class="flex-box">
    <p >{{pageData.allData?.aboutFirstP}}</p>
    <p >{{pageData.allData?.aboutFirstPre}}</p>
    <p >{{pageData.allData?.PersonalExhibitions}}</p>
    <ul>
      <li >{{pageData.allData?.exhibitions1}}</li>
      <li >{{pageData.allData?.exhibitions2}}</li>
      <li >{{pageData.allData?.exhibitions3}}</li>
      <li >{{pageData.allData?.exhibitions4}}</li>
      <li >{{pageData.allData?.exhibitions5}}</li>
      <li >{{pageData.allData?.exhibitions6}}</li>
    </ul>
    <p >{{pageData.allData?.JointProjects}}</p>
    <ul>
      <li >{{pageData.allData?.Joint1}}</li>
      <li >{{pageData.allData?.Joint2}}</li>
      <li >{{pageData.allData?.Joint3}}</li>
      <li >{{pageData.allData?.Joint4}}</li>
      <li >{{pageData.allData?.Joint5}}</li>
      <li >{{pageData.allData?.Joint6}}</li>
      <li >{{pageData.allData?.Joint7}}</li>
      <li >{{pageData.allData?.Joint8}}</li>
      <li >{{pageData.allData?.Joint9}}</li>
      <li >{{pageData.allData?.Joint10}}</li>
      <li >{{pageData.allData?.Joint11}}</li>
      <li >{{pageData.allData?.Joint12}}</li>
      <li >{{pageData.allData?.Joint13}}</li>
      <li >{{pageData.allData?.Joint14}}</li>
      <li >{{pageData.allData?.Joint15}}</li>
      <li >{{pageData.allData?.Joint16}}</li>
    </ul>
  </div>
</div>


